# Project: Identify Customer Segments

In this project, you will apply unsupervised learning techniques to identify segments of the population that form the core customer base for a mail-order sales company in Germany. These segments can then be used to direct marketing campaigns towards audiences that will have the highest expected rate of returns. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

This notebook will help you complete this task by providing a framework within which you will perform your analysis steps. In each step of the project, you will see some text describing the subtask that you will perform, followed by one or more code cells for you to complete your work. **Feel free to add additional code and markdown cells as you go along so that you can explore everything in precise chunks.** The code cells provided in the base template will outline only the major tasks, and will usually not be enough to cover all of the minor tasks that comprise it.

It should be noted that while there will be precise guidelines on how you should handle certain tasks in the project, there will also be places where an exact specification is not provided. **There will be times in the project where you will need to make and justify your own decisions on how to treat the data.** These are places where there may not be only one way to handle the data. In real-life tasks, there may be many valid ways to approach an analysis task. One of the most important things you can do is clearly document your approach so that other scientists can understand the decisions you've made.

At the end of most sections, there will be a Markdown cell labeled **Discussion**. In these cells, you will report your findings for the completed section, as well as document the decisions that you made in your approach to each subtask. **Your project will be evaluated not just on the code used to complete the tasks outlined, but also your communication about your observations and conclusions at each stage.**

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

'''
Import note: The classroom currently uses sklearn version 0.19.
If you need to use an imputer, it is available in sklearn.preprocessing.Imputer,
instead of sklearn.impute as in newer versions of sklearn.
'''

'\nImport note: The classroom currently uses sklearn version 0.19.\nIf you need to use an imputer, it is available in sklearn.preprocessing.Imputer,\ninstead of sklearn.impute as in newer versions of sklearn.\n'

### Step 0: Load the Data

There are four files associated with this project (not including this one):

- `Udacity_AZDIAS_Subset.csv`: Demographics data for the general population of Germany; 891211 persons (rows) x 85 features (columns).
- `Udacity_CUSTOMERS_Subset.csv`: Demographics data for customers of a mail-order company; 191652 persons (rows) x 85 features (columns).
- `Data_Dictionary.md`: Detailed information file about the features in the provided datasets.
- `AZDIAS_Feature_Summary.csv`: Summary of feature attributes for demographics data; 85 features (rows) x 4 columns

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. You will use this information to cluster the general population into groups with similar demographic properties. Then, you will see how the people in the customers dataset fit into those created clusters. The hope here is that certain clusters are over-represented in the customers data, as compared to the general population; those over-represented clusters will be assumed to be part of the core userbase. This information can then be used for further applications, such as targeting for a marketing campaign.

To start off with, load in the demographics data for the general population into a pandas DataFrame, and do the same for the feature attributes summary. Note for all of the `.csv` data files in this project: they're semicolon (`;`) delimited, so you'll need an additional argument in your [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call to read in the data properly. Also, considering the size of the main dataset, it may take some time for it to load completely.

Once the dataset is loaded, it's recommended that you take a little bit of time just browsing the general structure of the dataset and feature summary file. You'll be getting deep into the innards of the cleaning in the first major step of the project, so gaining some general familiarity can help you get your bearings.

In [2]:
# Load in the general demographics data.
azdias = pd.read_csv('./Udacity_AZDIAS_Subset.csv', delimiter=";")
azdias_customers = pd.read_csv('./Udacity_CUSTOMERS_Subset.csv', delimiter=';')
# Load in the feature summary file.
feat_info = pd.read_csv('./AZDIAS_Feature_Summary.csv', delimiter=';')

In [4]:
# Check the structure of the data after it's loaded (e.g. print the number of
# rows and columns, print the first few rows).

azdias.describe()

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
count,891221.000000,891221.000000,891221.000000,886367.000000,891221.000000,891221.000000,891221.000000,891221.000000,891221.000000,891221.000000,...,774706.000000,774706.000000,774706.000000,774706.000000,774706.000000,774706.000000,774706.000000,794005.000000,794005.000000,794005.00000
mean,-0.358435,2.777398,1.522098,3.632838,3.074528,2.821039,3.401106,3.033328,2.874167,3.075121,...,2.253330,2.801858,1.595426,0.699166,1.943913,3.612821,3.381087,3.167854,5.293002,3.07222
std,1.198724,1.068775,0.499512,1.595021,1.321055,1.464749,1.322134,1.529603,1.486731,1.353248,...,0.972008,0.920309,0.986736,0.727137,1.459654,0.973967,1.111598,1.002376,2.303739,1.36298
min,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.00000
25%,-1.000000,2.000000,1.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,...,1.000000,2.000000,1.000000,0.000000,1.000000,3.000000,3.000000,3.000000,4.000000,2.00000
50%,-1.000000,3.000000,2.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,2.000000,3.000000,2.000000,1.000000,1.000000,4.000000,3.000000,3.000000,5.000000,3.00000
75%,-1.000000,4.000000,2.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,2.000000,1.000000,3.000000,4.000000,4.000000,4.000000,7.000000,4.00000
max,3.000000,9.000000,2.000000,6.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,4.000000,4.000000,3.000000,2.000000,5.000000,5.000000,5.000000,9.000000,9.000000,9.00000

In [7]:
azdias.head()

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,-1,2,1,2.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,2,5.0,1,5,2,5,4,5,...,2.0,3.0,2.0,1.0,1.0,5.0,4.0,3.0,5.0,4.0
2,-1,3,2,3.0,1,4,1,2,3,5,...,3.0,3.0,1.0,0.0,1.0,4.0,4.0,3.0,5.0,2.0
3,2,4,2,2.0,4,2,5,2,1,2,...,2.0,2.0,2.0,0.0,1.0,3.0,4.0,2.0,3.0,3.0
4,-1,3,1,5.0,4,3,4,1,3,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,4.0,6.0,5.0

In [9]:
azdias.shape

(891221, 85)

In [10]:
azdias.info

<bound method DataFrame.info of         AGER_TYP  ALTERSKATEGORIE_GROB  ANREDE_KZ  CJT_GESAMTTYP  \
0             -1                     2          1            2.0
1             -1                     1          2            5.0
2             -1                     3          2            3.0
3              2                     4          2            2.0
4             -1                     3          1            5.0
5              3                     1          2            2.0
6             -1                     2          2            5.0
7             -1                     1          1            3.0
8             -1                     3          1            3.0
9             -1                     3          2            4.0
10             0                     3          2            1.0
11            -1                     2          1            6.0
12            -1                     3          1            6.0
13            -1                     1          2            5.0
14            -1                     3          1            6.0
15             1                     4          2            4.0
16            -1                     1          2            1.0
17            -1                     2          1            6.0
18            -1                     2          2            6.0
19            -1                     3          1            3.0
20            -1                     2          2            4.0
21            -1                     2          1            3.0
22            -1                     1          1            4.0
23            -1                     3          1            3.0
24            -1                     3          2            6.0
25            -1                     1          1            3.0
26            -1                     3          1            3.0
27            -1                     3          1            4.0
28            -1                     3          1            2.0
29             2                     4          2            1.0
...          ...                   ...        ...            ...
891191         1                     4          2            1.0
891192        -1                     1          2            3.0
891193         2                     4          1            3.0
891194        -1                     3          1            4.0
891195         2                     4          2            6.0
891196        -1                     2          2            6.0
891197        -1                     3          2            1.0
891198        -1                     3          1            5.0
891199        -1                     2          1            3.0
891200        -1                     1          2            3.0
891201        -1                     3          1            3.0
891202        -1                     2          2            5.0
891203        -1                     4          2            1.0
891204        -1                     3          1            5.0
891205         1                     4          1            2.0
891206        -1                     1          2            4.0
891207         1                     3          2            1.0
891208        -1                     4          1            2.0
891209        -1                     1          2            5.0
891210        -1                     3          1            5.0
891211        -1                     3          1            2.0
891212        -1                     4          1            1.0
891213        -1                     4          2            5.0
891214        -1                     1          2            4.0
891215        -1                     2          2            6.0
891216        -1                     3          2            5.0
891217        -1                     2          1            4.0
891218        -1                     2          2            4.0
891219        -1                     1          1            3.0
891220        -1                     4          1            1.0

        FINANZ_MINIMALIST  FINANZ_SPARER  FINANZ_VORSORGER  FINANZ_ANLEGER  \
0                       3              4                 3               5
1                       1              5                 2               5
2                       1              4                 1               2
3                       4              2                 5               2
4                       4              3                 4               1
5                       3              1                 5               2
6                       1              5                 1               5
7                       3              3                 4               1
8                       4              4                 2               4
9                       2              4                 2               3
10                      2              2                 5               3
11                      3              4                 3               5
12                      5              3                 4               2
13                      1              4                 3               5
14                      3              4                 3               5
15                      4              1                 5               1
16                      4              3                 1               4
17                      3              4                 3               5
18                      2              4                 1               5
19                      5              2                 3               1
20                      4              3                 1               4
21                      3              4                 1               2
22                      1              5                 3               5
23                      5              3                 3               2
24                      3              4                 3               5
25                      3              5                 3               5
26                      5              2                 4               2
27                      3              3                 4               1
28                      3              2                 4               3
29                      5              1                 5               2
...                   ...            ...               ...             ...
891191                  4              1                 5               1
891192                  1              5                 2               5
891193                  4              1                 5               1
891194                  4              3                 4               2
891195                  3              1                 5               1
891196                  1              5                 2               5
891197                  3              2                 4               1
891198                  2              5                 3               4
891199                  2              5                 2               3
891200                  1              5                 3               5
891201                  4              2                 3               2
891202                  1              4                 1               2
891203                  4              1                 5               1
891204                  4              3                 4               4
891205                  4              2                 4               3
891206                  3              4                 2               4
891207                  5              1                 5               1
891208                  5              2                 4               2
891209                  1              4                 2               3
891210                  3              3                 4               2
891211                  3              2                 4               3
891212                  3              1                 5               1
891213                  3              3                 3               5
891214                  1              5                 2               3
891215                  1              5                 2               4
891216                  1              4                 2               5
891217                  3              3                 3               2
891218                  2              4                 2               5
891219                  1              5                 3               5
891220                  4              2                 5               2

        FINANZ_UNAUFFAELLIGER  FINANZ_HAUSBAUER    ...     PLZ8_ANTG1  \
0                           5                 3    ...            NaN
1                           4                 5    ...            2.0
2                           3                 5    ...            3.0
3                           1                 2    ...            2.0
4                           3                 2    ...            2.0
5                           2                 5    ...            2.0
6                           4                 3    ...            3.0
7                           3                 2    ...            3.0
8                           2                 2    ...            2.0
9                           5                 4    ...            2.0
10                          1                 5    ...            2.0
11                          5                 3    ...            NaN
12                          4                 1    ...            3.0
13                          5                 2    ...            2.0
14                          5                 3    ...            NaN
15                          1                 4    ...            NaN
16                          5                 1    ...            3.0
17                          5                 3    ...            NaN
18                          4                 1    ...            2.0
19                          3                 1    ...            2.0
20                          5                 1    ...            NaN
21                          5                 1    ...            1.0
22                          5                 5    ...            2.0
23                          2                 1    ...            NaN
24                          5                 3    ...            NaN
25                          4                 3    ...            2.0
26                          3                 1    ...            NaN
27                          2                 2    ...            2.0
28                          3                 2    ...            3.0
29                          1                 3    ...            3.0
...                       ...               ...    ...            ...
891191                      1                 4    ...            3.0
891192                      3                 5    ...            4.0
891193                      2                 5    ...            2.0
891194                      3                 1    ...            3.0
891195                      1                 5    ...            2.0
891196                      4                 3    ...            2.0
891197                      3                 3    ...            2.0
891198                      5                 3    ...            4.0
891199                      3                 4    ...            1.0
891200                      5                 5    ...            1.0
891201                      2                 3    ...            1.0
891202                      5                 4    ...            1.0
891203                      3                 4    ...            2.0
891204                      2                 1    ...            2.0
891205                      3                 4    ...            1.0
891206                      4                 2    ...            3.0
891207                      2                 4    ...            2.0
891208                      3                 1    ...            3.0
891209                      4                 4    ...            1.0
891210                      2                 2    ...            2.0
891211                      3                 2    ...            1.0
891212                      1                 5    ...            1.0
891213                      3                 2    ...            2.0
891214                      3                 4    ...            1.0
891215                      5                 4    ...            2.0
891216                      4                 4    ...            3.0
891217                      2                 3    ...            1.0
891218                      4                 3    ...            4.0
891219                      5                 5    ...            1.0
891220                      1                 5    ...            3.0

        PLZ8_ANTG2  PLZ8_ANTG3  PLZ8_ANTG4  PLZ8_BAUMAX  PLZ8_HHZ  PLZ8_GBZ  \
0              NaN         NaN         NaN          NaN       NaN       NaN
1              3.0         2.0         1.0          1.0       5.0       4.0
2              3.0         1.0         0.0          1.0       4.0       4.0
3              2.0         2.0         0.0          1.0       3.0       4.0
4              4.0         2.0         1.0          2.0       3.0       3.0
5              3.0         1.0         1.0          1.0       5.0       5.0
6              3.0         1.0         0.0          1.0       5.0       5.0
7              3.0         1.0         0.0          1.0       4.0       4.0
8              3.0         2.0         1.0          1.0       3.0       3.0
9              3.0         2.0         1.0          1.0       3.0       3.0
10             4.0         2.0         0.0          2.0       3.0       3.0
11             NaN         NaN         NaN          NaN       NaN       NaN
12             3.0         1.0         0.0          1.0       5.0       5.0
13             1.0         1.0         1.0          1.0       3.0       3.0
14             NaN         NaN         NaN          NaN       NaN       NaN
15             NaN         NaN         NaN          NaN       NaN       NaN
16             3.0         1.0         0.0          1.0       3.0       4.0
17             NaN         NaN         NaN          NaN       NaN       NaN
18             3.0         2.0         1.0          1.0       3.0       3.0
19             4.0         2.0         1.0          2.0       5.0       4.0
20             NaN         NaN         NaN          NaN       NaN       NaN
21             4.0         3.0         2.0          4.0       4.0       3.0
22             4.0         2.0         1.0          2.0       4.0       3.0
23             NaN         NaN         NaN          NaN       NaN       NaN
24             NaN         NaN         NaN          NaN       NaN       NaN
25             2.0         0.0         0.0          1.0       4.0       5.0
26             NaN         NaN         NaN          NaN       NaN       NaN
27             3.0         3.0         2.0          4.0       5.0       3.0
28             3.0         1.0         0.0          1.0       5.0       5.0
29             2.0         2.0         0.0          1.0       3.0       4.0
...            ...         ...         ...          ...       ...       ...
891191         3.0         1.0         0.0          1.0       4.0       5.0
891192         2.0         1.0         0.0          1.0       3.0       3.0
891193         4.0         1.0         0.0          2.0       2.0       2.0
891194         2.0         2.0         0.0          1.0       4.0       4.0
891195         3.0         2.0         1.0          1.0       4.0       3.0
891196         3.0         2.0         1.0          1.0       3.0       3.0
891197         3.0         2.0         1.0          1.0       4.0       4.0
891198         2.0         1.0         0.0          1.0       4.0       5.0
891199         4.0         3.0         2.0          5.0       5.0       3.0
891200         4.0         2.0         1.0          2.0       3.0       3.0
891201         4.0         3.0         1.0          3.0       4.0       3.0
891202         4.0         3.0         2.0          5.0       4.0       2.0
891203         3.0         2.0         1.0          1.0       3.0       3.0
891204         3.0         1.0         0.0          1.0       3.0       4.0
891205         4.0         3.0         1.0          3.0       3.0       2.0
891206         2.0         1.0         0.0          1.0       4.0       5.0
891207         3.0         2.0         2.0          4.0       4.0       2.0
891208         2.0         0.0         0.0          1.0       3.0       3.0
891209         4.0         2.0         1.0          5.0       5.0       4.0
891210         3.0         2.0         1.0          1.0       3.0       3.0
891211         4.0         2.0         0.0          2.0       3.0       2.0
891212         3.0         3.0         2.0          5.0       4.0       1.0
891213         4.0         2.0         1.0          2.0       5.0       5.0
891214         4.0         3.0         2.0          5.0       5.0       2.0
891215         4.0         2.0         1.0          2.0       4.0       4.0
891216         2.0         0.0         0.0          1.0       2.0       3.0
891217         3.0         3.0         2.0          4.0       5.0       3.0
891218         2.0         0.0         0.0          1.0       3.0       4.0
891219         4.0         3.0         1.0          5.0       1.0       1.0
891220         3.0         1.0         0.0          1.0       4.0       4.0

        ARBEIT  ORTSGR_KLS9  RELAT_AB
0          NaN          NaN       NaN
1          3.0          5.0       4.0
2          3.0          5.0       2.0
3          2.0          3.0       3.0
4          4.0          6.0       5.0
5          2.0          3.0       3.0
6          4.0          6.0       3.0
7          2.0          5.0       2.0
8          2.0          4.0       3.0
9          2.0          3.0       1.0
10         4.0          6.0       5.0
11         NaN          NaN       NaN
12         3.0          6.0       4.0
13         3.0          6.0       4.0
14         NaN          NaN       NaN
15         4.0          8.0       5.0
16         1.0          2.0       1.0
17         NaN          NaN       NaN
18         3.0          4.0       3.0
19         4.0          6.0       3.0
20         3.0          4.0       1.0
21         5.0          7.0       5.0
22         4.0          5.0       5.0
23         3.0          6.0       2.0
24         NaN          NaN       NaN
25         3.0          2.0       5.0
26         4.0          3.0       5.0
27         4.0          7.0       5.0
28         3.0          4.0       1.0
29         2.0          4.0       3.0
...        ...          ...       ...
891191     1.0          3.0       1.0
891192     3.0          5.0       1.0
891193     4.0          6.0       4.0
891194     4.0          8.0       5.0
891195     4.0          7.0       5.0
891196     3.0          4.0       5.0
891197     3.0          9.0       5.0
891198     3.0          9.0       5.0
891199     3.0          7.0       3.0
891200     4.0          6.0       5.0
891201     3.0          7.0       5.0
891202     4.0          8.0       5.0
891203     4.0          8.0       5.0
891204     4.0          7.0       3.0
891205     3.0          7.0       5.0
891206     3.0          4.0       3.0
891207     1.0          5.0       1.0
891208     4.0          2.0       5.0
891209     4.0          5.0       5.0
891210     3.0          9.0       5.0
891211     3.0          5.0       5.0
891212     3.0          9.0       5.0
891213     3.0          4.0       4.0
891214     3.0          7.0       3.0
891215     2.0          5.0       2.0
891216     NaN          NaN       NaN

In [5]:
# Check the structure of the data after it's loaded (e.g. print the number of
# rows and columns, print the first few rows).
azdias_customers.head()

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,2,4,1,5.0,5,1,5,1,2,2,...,3.0,3.0,1.0,0.0,1.0,5.0,5.0,1.0,2.0,1.0
1,-1,4,1,NaN,5,1,5,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1,4,2,2.0,5,1,5,1,4,4,...,2.0,3.0,3.0,1.0,3.0,3.0,2.0,3.0,5.0,3.0
3,1,4,1,2.0,5,1,5,2,1,2,...,3.0,2.0,1.0,0.0,1.0,3.0,4.0,1.0,3.0,1.0
4,-1,3,1,6.0,3,1,4,4,5,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,3.0,5.0,1.0

In [6]:
azdias_customers.describe()

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
count,191652.000000,191652.000000,191652.000000,188439.000000,191652.000000,191652.000000,191652.000000,191652.000000,191652.000000,191652.000000,...,138888.000000,138888.000000,138888.000000,138888.000000,138888.000000,138888.000000,138888.000000,141176.000000,141176.000000,141176.000000
mean,0.344359,3.060907,1.376432,3.677928,3.963773,2.057051,4.183317,2.439808,2.646176,2.781176,...,2.537404,2.731510,1.388817,0.539939,1.556607,3.634893,3.622192,2.824850,5.119517,2.898510
std,1.391672,1.086254,0.484492,1.813975,1.036230,1.319422,0.995365,1.697932,1.586506,1.147353,...,0.904927,0.840922,0.885038,0.637048,1.185736,0.933660,1.008472,1.012415,2.159184,1.422683
min,-1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,-1.000000,3.000000,1.000000,2.000000,3.000000,1.000000,3.000000,1.000000,1.000000,2.000000,...,2.000000,2.000000,1.000000,0.000000,1.000000,3.000000,3.000000,2.000000,4.000000,2.000000
50%,0.000000,3.000000,1.000000,4.000000,4.000000,1.000000,5.000000,2.000000,2.000000,3.000000,...,3.000000,3.000000,1.000000,0.000000,1.000000,3.000000,4.000000,3.000000,5.000000,3.000000
75%,2.000000,4.000000,2.000000,6.000000,5.000000,4.000000,5.000000,5.000000,5.000000,3.000000,...,3.000000,3.000000,2.000000,1.000000,1.000000,4.000000,4.000000,4.000000,7.000000,4.000000
max,3.000000,9.000000,2.000000,6.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,4.000000,4.000000,3.000000,2.000000,5.000000,5.000000,5.000000,9.000000,9.000000,9.000000

In [11]:
azdias_customers.info

<bound method DataFrame.info of         AGER_TYP  ALTERSKATEGORIE_GROB  ANREDE_KZ  CJT_GESAMTTYP  \
0              2                     4          1            5.0
1             -1                     4          1            NaN
2             -1                     4          2            2.0
3              1                     4          1            2.0
4             -1                     3          1            6.0
5              1                     3          1            4.0
6              2                     4          1            2.0
7              1                     4          1            2.0
8              2                     4          2            1.0
9              1                     3          1            3.0
10            -1                     3          2            5.0
11             1                     4          1            3.0
12            -1                     4          1            5.0
13            -1                     3          1            6.0
14             2                     4          2            2.0
15             2                     3          1            3.0
16             1                     4          1            2.0
17            -1                     4          1            5.0
18            -1                     2          1            4.0
19            -1                     4          2            4.0
20            -1                     4          1            6.0
21             2                     4          1            1.0
22             2                     1          2            2.0
23            -1                     3          1            6.0
24             2                     4          2            2.0
25            -1                     3          2            3.0
26             1                     4          2            2.0
27            -1                     3          1            3.0
28             2                     4          2            2.0
29             0                     3          2            4.0
...          ...                   ...        ...            ...
191622         2                     4          1            2.0
191623         1                     4          1            2.0
191624         1                     4          1            2.0
191625         2                     4          2            4.0
191626        -1                     2          1            4.0
191627         3                     3          2            2.0
191628         1                     4          1            2.0
191629         2                     4          2            1.0
191630         2                     3          1            2.0
191631         2                     4          2            1.0
191632         0                     3          1            5.0
191633         1                     4          1            3.0
191634         2                     3          1            1.0
191635         2                     4          2            2.0
191636         2                     4          1            1.0
191637        -1                     3          2            6.0
191638         1                     4          1            6.0
191639        -1                     3          1            5.0
191640         3                     3          1            4.0
191641         1                     4          1            2.0
191642         2                     4          2            2.0
191643         2                     4          1            5.0
191644         2                     4          2            6.0
191645         2                     4          1            5.0
191646         3                     2          2            2.0
191647         1                     3          1            4.0
191648        -1                     4          2            2.0
191649         2                     4          1            2.0
191650         3                     3          2            4.0
191651         3                     2          1            2.0

        FINANZ_MINIMALIST  FINANZ_SPARER  FINANZ_VORSORGER  FINANZ_ANLEGER  \
0                       5              1                 5               1
1                       5              1                 5               1
2                       5              1                 5               1
3                       5              1                 5               2
4                       3              1                 4               4
5                       5              1                 5               1
6                       5              1                 5               1
7                       5              1                 5               1
8                       2              2                 5               1
9                       5              2                 4               1
10                      4              2                 4               4
11                      5              1                 5               1
12                      5              2                 4               3
13                      5              2                 4               2
14                      3              1                 5               1
15                      5              1                 5               1
16                      5              1                 5               1
17                      4              3                 1               4
18                      2              4                 2               2
19                      3              2                 4               3
20                      5              3                 4               2
21                      3              1                 5               2
22                      5              1                 5               1
23                      3              3                 4               1
24                      4              1                 5               2
25                      5              2                 4               4
26                      5              1                 5               2
27                      5              2                 3               1
28                      3              1                 5               1
29                      3              1                 5               1
...                   ...            ...               ...             ...
191622                  5              1                 5               1
191623                  5              1                 5               1
191624                  5              1                 5               1
191625                  5              1                 5               2
191626                  3              3                 3               1
191627                  2              1                 5               1
191628                  5              1                 5               1
191629                  2              1                 5               1
191630                  5              1                 5               1
191631                  2              1                 5               1
191632                  4              1                 5               1
191633                  5              1                 5               1
191634                  5              1                 5               1
191635                  5              1                 5               2
191636                  5              1                 5               1
191637                  5              2                 4               2
191638                  3              1                 5               1
191639                  4              3                 3               2
191640                  4              1                 5               1
191641                  5              1                 5               1
191642                  2              1                 5               2
191643                  5              1                 5               1
191644                  2              1                 5               1
191645                  5              1                 5               1
191646                  2              1                 5               1
191647                  5              1                 5               1
191648                  5              1                 5               2
191649                  5              1                 5               1
191650                  2              1                 5               1
191651                  5              1                 5               1

        FINANZ_UNAUFFAELLIGER  FINANZ_HAUSBAUER    ...     PLZ8_ANTG1  \
0                           2                 2    ...            3.0
1                           3                 2    ...            NaN
2                           4                 4    ...            2.0
3                           1                 2    ...            3.0
4                           5                 2    ...            2.0
5                           2                 3    ...            2.0
6                           1                 2    ...            3.0
7                           2                 2    ...            3.0
8                           1                 5    ...            1.0
9                           3                 1    ...            3.0
10                          3                 1    ...            NaN
11                          3                 2    ...            4.0
12                          2                 1    ...            3.0
13                          4                 1    ...            3.0
14                          2                 5    ...            1.0
15                          1                 2    ...            3.0
16                          3                 2    ...            4.0
17                          5                 1    ...            2.0
18                          3                 3    ...            1.0
19                          3                 3    ...            4.0
20                          3                 1    ...            4.0
21                          1                 4    ...            1.0
22                          1                 2    ...            3.0
23                          2                 2    ...            1.0
24                          2                 3    ...            3.0
25                          2                 1    ...            3.0
26                          1                 3    ...            3.0
27                          2                 1    ...            2.0
28                          1                 5    ...            1.0
29                          2                 5    ...            1.0
...                       ...               ...    ...            ...
191622                      1                 2    ...            3.0
191623                      3                 2    ...            2.0
191624                      4                 2    ...            2.0
191625                      1                 2    ...            3.0
191626                      3                 2    ...            2.0
191627                      2                 5    ...            1.0
191628                      1                 2    ...            3.0
191629                      2                 5    ...            2.0
191630                      1                 2    ...            2.0
191631                      2                 5    ...            2.0
191632                      1                 4    ...            4.0
191633                      4                 2    ...            4.0
191634                      2                 3    ...            3.0
191635                      1                 3    ...            3.0
191636                      1                 2    ...            3.0
191637                      3                 1    ...            2.0
191638                      1                 4    ...            0.0
191639                      4                 1    ...            4.0
191640                      2                 4    ...            2.0
191641                      2                 2    ...            4.0
191642                      1                 5    ...            0.0
191643                      3                 2    ...            4.0
191644                      2                 5    ...            1.0
191645                      3                 2    ...            2.0
191646                      2                 5    ...            1.0
191647                      1                 2    ...            2.0
191648                      2                 3    ...            NaN
191649                      1                 2    ...            3.0
191650                      2                 5    ...            3.0
191651                      1                 2    ...            3.0

        PLZ8_ANTG2  PLZ8_ANTG3  PLZ8_ANTG4  PLZ8_BAUMAX  PLZ8_HHZ  PLZ8_GBZ  \
0              3.0         1.0         0.0          1.0       5.0       5.0
1              NaN         NaN         NaN          NaN       NaN       NaN
2              3.0         3.0         1.0          3.0       3.0       2.0
3              2.0         1.0         0.0          1.0       3.0       4.0
4              4.0         2.0         1.0          2.0       3.0       3.0
5              3.0         2.0         1.0          1.0       5.0       5.0
6              2.0         1.0         0.0          1.0       5.0       5.0
7              3.0         1.0         1.0          1.0       3.0       3.0
8              4.0         2.0         1.0          5.0       5.0       4.0
9              3.0         1.0         0.0          1.0       5.0       5.0
10             NaN         NaN         NaN          NaN       NaN       NaN
11             2.0         1.0         0.0          1.0       3.0       3.0
12             1.0         0.0         0.0          1.0       4.0       5.0
13             3.0         1.0         0.0          1.0       4.0       4.0
14             4.0         3.0         1.0          3.0       5.0       3.0
15             2.0         1.0         0.0          1.0       5.0       5.0
16             1.0         0.0         0.0          1.0       3.0       4.0
17             3.0         2.0         1.0          1.0       5.0       5.0
18             3.0         3.0         2.0          5.0       3.0       1.0
19             2.0         1.0         0.0          1.0       3.0       4.0
20             1.0         0.0         0.0          1.0       3.0       4.0
21             4.0         3.0         1.0          3.0       4.0       3.0
22             2.0         0.0         0.0          1.0       4.0       5.0
23             3.0         3.0         2.0          5.0       5.0       2.0
24             3.0         1.0         0.0          1.0       3.0       3.0
25             2.0         1.0         0.0          1.0       3.0       4.0
26             3.0         1.0         0.0          1.0       5.0       5.0
27             4.0         2.0         1.0          2.0       4.0       3.0
28             3.0         3.0         2.0          4.0       5.0       3.0
29             4.0         3.0         2.0          5.0       3.0       2.0
...            ...         ...         ...          ...       ...       ...
191622         3.0         1.0         0.0          1.0       3.0       3.0
191623         4.0         2.0         1.0          2.0       4.0       3.0
191624         3.0         2.0         1.0          1.0       4.0       4.0
191625         2.0         1.0         1.0          1.0       5.0       5.0
191626         3.0         2.0         1.0          1.0       4.0       4.0
191627         3.0         2.0         2.0          4.0       5.0       3.0
191628         2.0         1.0         1.0          1.0       5.0       5.0
191629         4.0         2.0         1.0          5.0       3.0       2.0
191630         3.0         1.0         1.0          1.0       5.0       5.0
191631         4.0         2.0         1.0          2.0       4.0       3.0
191632         2.0         0.0         0.0          1.0       3.0       4.0
191633         2.0         0.0         0.0          1.0       4.0       4.0
191634         3.0         0.0         0.0          1.0       3.0       4.0
191635         3.0         1.0         1.0          1.0       3.0       3.0
191636         2.0         1.0         0.0          1.0       3.0       3.0
191637         3.0         1.0         0.0          1.0       3.0       3.0
191638         3.0         3.0         2.0          5.0       4.0       1.0
191639         1.0         0.0         0.0          1.0       2.0       3.0
191640         3.0         2.0         1.0          1.0       5.0       5.0
191641         2.0         1.0         0.0          1.0       4.0       5.0
191642         0.0         0.0         2.0          5.0       3.0       1.0
191643         2.0         0.0         0.0          1.0       5.0       5.0
191644         4.0         3.0         1.0          5.0       4.0       3.0
191645         3.0         2.0         1.0          1.0       3.0       3.0
191646         4.0         2.0         0.0          5.0       1.0       1.0
191647         4.0         2.0         1.0          2.0       5.0       4.0
191648         NaN         NaN         NaN          NaN       NaN       NaN
191649         2.0         2.0         1.0          1.0       5.0       5.0
191650         2.0         1.0         1.0          1.0       2.0       3.0
191651         2.0         0.0         0.0          1.0       4.0       5.0

        ARBEIT  ORTSGR_KLS9  RELAT_AB
0          1.0          2.0       1.0
1          NaN          NaN       NaN
2          3.0          5.0       3.0
3          1.0          3.0       1.0
4          3.0          5.0       1.0
5          3.0          7.0       5.0
6          2.0          3.0       2.0
7          3.0          4.0       3.0
8          3.0          8.0       3.0
9          3.0          6.0       4.0
10         NaN          NaN       NaN
11         2.0          5.0       1.0
12         1.0          1.0       1.0
13         4.0          5.0       5.0
14         3.0          8.0       5.0
15         3.0          6.0       1.0
16         3.0          5.0       3.0
17         1.0          3.0       1.0
18         3.0          8.0       5.0
19         3.0          5.0       5.0
20         4.0          6.0       5.0
21         1.0          3.0       1.0
22         1.0          2.0       1.0
23         3.0          9.0       5.0
24         2.0          6.0       3.0
25         1.0          3.0       1.0
26         1.0          2.0       1.0
27         3.0          7.0       4.0
28         3.0          7.0       5.0
29         3.0          8.0       5.0
...        ...          ...       ...
191622     2.0          2.0       2.0
191623     2.0          4.0       3.0
191624     2.0          5.0       1.0
191625     2.0          4.0       3.0
191626     4.0          8.0       5.0
191627     3.0          7.0       3.0
191628     2.0          4.0       3.0
191629     2.0          5.0       1.0
191630     4.0          7.0       5.0
191631     4.0          7.0       5.0
191632     3.0          1.0       3.0
191633     3.0          5.0       2.0
191634     1.0          2.0       1.0
191635     3.0          5.0       3.0
191636     4.0          5.0       4.0
191637     3.0          7.0       5.0
191638     3.0          7.0       3.0
191639     4.0          5.0       4.0
191640     3.0          7.0       4.0
191641     2.0          1.0       2.0
191642     4.0          9.0       3.0
191643     2.0          4.0       1.0
191644     3.0          5.0       5.0
191645     3.0          5.0       3.0
191646     3.0          9.0       5.0
191647     3.0          8.0       5.0

In [12]:
azdias_customers.shape

(191652, 85)

In [13]:
feat_info.head()

              attribute information_level         type missing_or_unknown
0              AGER_TYP            person  categorical             [-1,0]
1  ALTERSKATEGORIE_GROB            person      ordinal           [-1,0,9]
2             ANREDE_KZ            person  categorical             [-1,0]
3         CJT_GESAMTTYP            person  categorical                [0]
4     FINANZ_MINIMALIST            person      ordinal               [-1]

In [14]:
feat_info.info

<bound method DataFrame.info of                 attribute information_level         type missing_or_unknown
0                AGER_TYP            person  categorical             [-1,0]
1    ALTERSKATEGORIE_GROB            person      ordinal           [-1,0,9]
2               ANREDE_KZ            person  categorical             [-1,0]
3           CJT_GESAMTTYP            person  categorical                [0]
4       FINANZ_MINIMALIST            person      ordinal               [-1]
5           FINANZ_SPARER            person      ordinal               [-1]
6        FINANZ_VORSORGER            person      ordinal               [-1]
7          FINANZ_ANLEGER            person      ordinal               [-1]
8   FINANZ_UNAUFFAELLIGER            person      ordinal               [-1]
9        FINANZ_HAUSBAUER            person      ordinal               [-1]
10              FINANZTYP            person  categorical               [-1]
11            GEBURTSJAHR            person      numeric                [0]
12        GFK_URLAUBERTYP            person  categorical                 []
13       GREEN_AVANTGARDE            person  categorical                 []
14             HEALTH_TYP            person      ordinal             [-1,0]
15    LP_LEBENSPHASE_FEIN            person        mixed                [0]
16    LP_LEBENSPHASE_GROB            person        mixed                [0]
17        LP_FAMILIE_FEIN            person  categorical                [0]
18        LP_FAMILIE_GROB            person  categorical                [0]
19         LP_STATUS_FEIN            person  categorical                [0]
20         LP_STATUS_GROB            person  categorical                [0]
21       NATIONALITAET_KZ            person  categorical             [-1,0]
22  PRAEGENDE_JUGENDJAHRE            person        mixed             [-1,0]
23         RETOURTYP_BK_S            person      ordinal                [0]
24              SEMIO_SOZ            person      ordinal             [-1,9]
25              SEMIO_FAM            person      ordinal             [-1,9]
26              SEMIO_REL            person      ordinal             [-1,9]
27              SEMIO_MAT            person      ordinal             [-1,9]
28             SEMIO_VERT            person      ordinal             [-1,9]
29             SEMIO_LUST            person      ordinal             [-1,9]
..                    ...               ...          ...                ...
55            OST_WEST_KZ          building  categorical               [-1]
56               WOHNLAGE          building        mixed               [-1]
57        CAMEO_DEUG_2015     microcell_rr4  categorical             [-1,X]
58         CAMEO_DEU_2015     microcell_rr4  categorical               [XX]
59        CAMEO_INTL_2015     microcell_rr4        mixed            [-1,XX]
60            KBA05_ANTG1     microcell_rr3      ordinal               [-1]
61            KBA05_ANTG2     microcell_rr3      ordinal               [-1]
62            KBA05_ANTG3     microcell_rr3      ordinal               [-1]
63            KBA05_ANTG4     microcell_rr3      ordinal               [-1]
64           KBA05_BAUMAX     microcell_rr3        mixed             [-1,0]
65              KBA05_GBZ     microcell_rr3      ordinal             [-1,0]
66               BALLRAUM          postcode      ordinal               [-1]
67               EWDICHTE          postcode      ordinal               [-1]
68             INNENSTADT          postcode      ordinal               [-1]
69     GEBAEUDETYP_RASTER        region_rr1      ordinal                 []
70                    KKK        region_rr1      ordinal             [-1,0]
71             MOBI_REGIO        region_rr1      ordinal                 []
72      ONLINE_AFFINITAET        region_rr1      ordinal                 []
73               REGIOTYP        region_rr1      ordinal             [-1,0]
74       KBA13_ANZAHL_PKW    macrocell_plz8      numeric                 []
75             PLZ8_ANTG1    macrocell_plz8      ordinal               [-1]
76             PLZ8_ANTG2    macrocell_plz8      ordinal               [-1]
77             PLZ8_ANTG3    macrocell_plz8      ordinal               [-1]
78             PLZ8_ANTG4    macrocell_plz8      ordinal               [-1]
79            PLZ8_BAUMAX    macrocell_plz8        mixed             [-1,0]
80               PLZ8_HHZ    macrocell_plz8      ordinal               [-1]
81               PLZ8_GBZ    macrocell_plz8      ordinal               [-1]
82                 ARBEIT         community      ordinal             [-1,9]
83            ORTSGR_KLS9         community      ordinal             [-1,0]
84               RELAT_AB         community      ordinal             [-1,9]

[85 rows x 4 columns]>

> **Tip**: Add additional cells to keep everything in reasonably-sized chunks! Keyboard shortcut `esc --> a` (press escape to enter command mode, then press the 'A' key) adds a new cell before the active cell, and `esc --> b` adds a new cell after the active cell. If you need to convert an active cell to a markdown cell, use `esc --> m` and to convert to a code cell, use `esc --> y`. 

## Step 1: Preprocessing

### Step 1.1: Assess Missing Data

The feature summary file contains a summary of properties for each demographics data column. You will use this file to help you make cleaning decisions during this stage of the project. First of all, you should assess the demographics data in terms of missing data. Pay attention to the following points as you perform your analysis, and take notes on what you observe. Make sure that you fill in the **Discussion** cell with your findings and decisions at the end of each step that has one!

#### Step 1.1.1: Convert Missing Value Codes to NaNs
The fourth column of the feature attributes summary (loaded in above as `feat_info`) documents the codes from the data dictionary that indicate missing or unknown data. While the file encodes this as a list (e.g. `[-1,0]`), this will get read in as a string object. You'll need to do a little bit of parsing to make use of it to identify and clean the data. Convert data that matches a 'missing' or 'unknown' value code into a numpy NaN value. You might want to see how much data takes on a 'missing' or 'unknown' code, and how much data is naturally missing, as a point of interest.

**As one more reminder, you are encouraged to add additional cells to break up your analysis into manageable chunks.**

In [ ]:
# Identify missing or unknown data values and convert them to NaNs.

#### Step 1.1.2: Assess Missing Data in Each Column

How much missing data is present in each column? There are a few columns that are outliers in terms of the proportion of values that are missing. You will want to use matplotlib's [`hist()`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html) function to visualize the distribution of missing value counts to find these columns. Identify and document these columns. While some of these columns might have justifications for keeping or re-encoding the data, for this project you should just remove them from the dataframe. (Feel free to make remarks about these outlier columns in the discussion, however!)

For the remaining features, are there any patterns in which columns have, or share, missing data?

In [ ]:
# Perform an assessment of how much missing data there is in each column of the
# dataset.

In [ ]:
# Investigate patterns in the amount of missing data in each column.

In [ ]:
# Remove the outlier columns from the dataset. (You'll perform other data
# engineering tasks such as re-encoding and imputation later.)

#### Discussion 1.1.2: Assess Missing Data in Each Column

(Double click this cell and replace this text with your own text, reporting your observations regarding the amount of missing data in each column. Are there any patterns in missing values? Which columns were removed from the dataset?)

#### Step 1.1.3: Assess Missing Data in Each Row

Now, you'll perform a similar assessment for the rows of the dataset. How much data is missing in each row? As with the columns, you should see some groups of points that have a very different numbers of missing values. Divide the data into two subsets: one for data points that are above some threshold for missing values, and a second subset for points below that threshold.

In order to know what to do with the outlier rows, we should see if the distribution of data values on columns that are not missing data (or are missing very little data) are similar or different between the two groups. Select at least five of these columns and compare the distribution of values.
- You can use seaborn's [`countplot()`](https://seaborn.pydata.org/generated/seaborn.countplot.html) function to create a bar chart of code frequencies and matplotlib's [`subplot()`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.subplot.html) function to put bar charts for the two subplots side by side.
- To reduce repeated code, you might want to write a function that can perform this comparison, taking as one of its arguments a column to be compared.

Depending on what you observe in your comparison, this will have implications on how you approach your conclusions later in the analysis. If the distributions of non-missing features look similar between the data with many missing values and the data with few or no missing values, then we could argue that simply dropping those points from the analysis won't present a major issue. On the other hand, if the data with many missing values looks very different from the data with few or no missing values, then we should make a note on those data as special. We'll revisit these data later on. **Either way, you should continue your analysis for now using just the subset of the data with few or no missing values.**

In [ ]:
# How much data is missing in each row of the dataset?

In [ ]:
# Write code to divide the data into two subsets based on the number of missing
# values in each row.

In [ ]:
# Compare the distribution of values for at least five columns where there are
# no or few missing values, between the two subsets.

#### Discussion 1.1.3: Assess Missing Data in Each Row

(Double-click this cell and replace this text with your own text, reporting your observations regarding missing data in rows. Are the data with lots of missing values are qualitatively different from data with few or no missing values?)

### Step 1.2: Select and Re-Encode Features

Checking for missing data isn't the only way in which you can prepare a dataset for analysis. Since the unsupervised learning techniques to be used will only work on data that is encoded numerically, you need to make a few encoding changes or additional assumptions to be able to make progress. In addition, while almost all of the values in the dataset are encoded using numbers, not all of them represent numeric values. Check the third column of the feature summary (`feat_info`) for a summary of types of measurement.
- For numeric and interval data, these features can be kept without changes.
- Most of the variables in the dataset are ordinal in nature. While ordinal values may technically be non-linear in spacing, make the simplifying assumption that the ordinal variables can be treated as being interval in nature (that is, kept without any changes).
- Special handling may be necessary for the remaining two variable types: categorical, and 'mixed'.

In the first two parts of this sub-step, you will perform an investigation of the categorical and mixed-type features and make a decision on each of them, whether you will keep, drop, or re-encode each. Then, in the last part, you will create a new data frame with only the selected and engineered columns.

Data wrangling is often the trickiest part of the data analysis process, and there's a lot of it to be done here. But stick with it: once you're done with this step, you'll be ready to get to the machine learning parts of the project!

In [ ]:
# How many features are there of each data type?

#### Step 1.2.1: Re-Encode Categorical Features

For categorical data, you would ordinarily need to encode the levels as dummy variables. Depending on the number of categories, perform one of the following:
- For binary (two-level) categoricals that take numeric values, you can keep them without needing to do anything.
- There is one binary variable that takes on non-numeric values. For this one, you need to re-encode the values as numbers or create a dummy variable.
- For multi-level categoricals (three or more values), you can choose to encode the values using multiple dummy variables (e.g. via [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)), or (to keep things straightforward) just drop them from the analysis. As always, document your choices in the Discussion section.

In [ ]:
# Assess categorical variables: which are binary, which are multi-level, and
# which one needs to be re-encoded?

In [ ]:
# Re-encode categorical variable(s) to be kept in the analysis.

#### Discussion 1.2.1: Re-Encode Categorical Features

(Double-click this cell and replace this text with your own text, reporting your findings and decisions regarding categorical features. Which ones did you keep, which did you drop, and what engineering steps did you perform?)

#### Step 1.2.2: Engineer Mixed-Type Features

There are a handful of features that are marked as "mixed" in the feature summary that require special treatment in order to be included in the analysis. There are two in particular that deserve attention; the handling of the rest are up to your own choices:
- "PRAEGENDE_JUGENDJAHRE" combines information on three dimensions: generation by decade, movement (mainstream vs. avantgarde), and nation (east vs. west). While there aren't enough levels to disentangle east from west, you should create two new variables to capture the other two dimensions: an interval-type variable for decade, and a binary variable for movement.
- "CAMEO_INTL_2015" combines information on two axes: wealth and life stage. Break up the two-digit codes by their 'tens'-place and 'ones'-place digits into two new ordinal variables (which, for the purposes of this project, is equivalent to just treating them as their raw numeric values).
- If you decide to keep or engineer new features around the other mixed-type features, make sure you note your steps in the Discussion section.

Be sure to check `Data_Dictionary.md` for the details needed to finish these tasks.

In [ ]:
# Investigate "PRAEGENDE_JUGENDJAHRE" and engineer two new variables.

In [ ]:
# Investigate "CAMEO_INTL_2015" and engineer two new variables.

#### Discussion 1.2.2: Engineer Mixed-Type Features

(Double-click this cell and replace this text with your own text, reporting your findings and decisions regarding mixed-value features. Which ones did you keep, which did you drop, and what engineering steps did you perform?)

#### Step 1.2.3: Complete Feature Selection

In order to finish this step up, you need to make sure that your data frame now only has the columns that you want to keep. To summarize, the dataframe should consist of the following:
- All numeric, interval, and ordinal type columns from the original dataset.
- Binary categorical features (all numerically-encoded).
- Engineered features from other multi-level categorical features and mixed features.

Make sure that for any new columns that you have engineered, that you've excluded the original columns from the final dataset. Otherwise, their values will interfere with the analysis later on the project. For example, you should not keep "PRAEGENDE_JUGENDJAHRE", since its values won't be useful for the algorithm: only the values derived from it in the engineered features you created should be retained. As a reminder, your data should only be from **the subset with few or no missing values**.

In [ ]:
# If there are other re-engineering tasks you need to perform, make sure you
# take care of them here. (Dealing with missing data will come in step 2.1.)

In [ ]:
# Do whatever you need to in order to ensure that the dataframe only contains
# the columns that should be passed to the algorithm functions.

### Step 1.3: Create a Cleaning Function

Even though you've finished cleaning up the general population demographics data, it's important to look ahead to the future and realize that you'll need to perform the same cleaning steps on the customer demographics data. In this substep, complete the function below to execute the main feature selection, encoding, and re-engineering steps you performed above. Then, when it comes to looking at the customer data in Step 3, you can just run this function on that DataFrame to get the trimmed dataset in a single step.

In [1]:
def clean_data(df):
    """
    Perform feature trimming, re-encoding, and engineering for demographics
    data
    
    INPUT: Demographics DataFrame
    OUTPUT: Trimmed and cleaned demographics DataFrame
    """
    
    # Put in code here to execute all main cleaning steps:
    # convert missing value codes into NaNs, ...
    
    
    # remove selected columns and rows, ...

    
    # select, re-encode, and engineer column values.

    
    # Return the cleaned dataframe.

## Step 2: Feature Transformation

### Step 2.1: Apply Feature Scaling

Before we apply dimensionality reduction techniques to the data, we need to perform feature scaling so that the principal component vectors are not influenced by the natural differences in scale for features. Starting from this part of the project, you'll want to keep an eye on the [API reference page for sklearn](http://scikit-learn.org/stable/modules/classes.html) to help you navigate to all of the classes and functions that you'll need. In this substep, you'll need to check the following:

- sklearn requires that data not have missing values in order for its estimators to work properly. So, before applying the scaler to your data, make sure that you've cleaned the DataFrame of the remaining missing values. This can be as simple as just removing all data points with missing data, or applying an [Imputer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html) to replace all missing values. You might also try a more complicated procedure where you temporarily remove missing values in order to compute the scaling parameters before re-introducing those missing values and applying imputation. Think about how much missing data you have and what possible effects each approach might have on your analysis, and justify your decision in the discussion section below.
- For the actual scaling function, a [StandardScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html) instance is suggested, scaling each feature to mean 0 and standard deviation 1.
- For these classes, you can make use of the `.fit_transform()` method to both fit a procedure to the data as well as apply the transformation to the data at the same time. Don't forget to keep the fit sklearn objects handy, since you'll be applying them to the customer demographics data towards the end of the project.

In [ ]:
# If you've not yet cleaned the dataset of all NaN values, then investigate and
# do that now.

In [ ]:
# Apply feature scaling to the general population demographics data.

### Discussion 2.1: Apply Feature Scaling

(Double-click this cell and replace this text with your own text, reporting your decisions regarding feature scaling.)

### Step 2.2: Perform Dimensionality Reduction

On your scaled data, you are now ready to apply dimensionality reduction techniques.

- Use sklearn's [PCA](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) class to apply principal component analysis on the data, thus finding the vectors of maximal variance in the data. To start, you should not set any parameters (so all components are computed) or set a number of components that is at least half the number of features (so there's enough features to see the general trend in variability).
- Check out the ratio of variance explained by each principal component as well as the cumulative variance explained. Try plotting the cumulative or sequential values using matplotlib's [`plot()`](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.plot.html) function. Based on what you find, select a value for the number of transformed features you'll retain for the clustering part of the project.
- Once you've made a choice for the number of components to keep, make sure you re-fit a PCA instance to perform the decided-on transformation.

In [ ]:
# Apply PCA to the data.

In [ ]:
# Investigate the variance accounted for by each principal component.

In [ ]:
# Re-apply PCA to the data while selecting for number of components to retain.

### Discussion 2.2: Perform Dimensionality Reduction

(Double-click this cell and replace this text with your own text, reporting your findings and decisions regarding dimensionality reduction. How many principal components / transformed features are you retaining for the next step of the analysis?)

### Step 2.3: Interpret Principal Components

Now that we have our transformed principal components, it's a nice idea to check out the weight of each variable on the first few components to see if they can be interpreted in some fashion.

As a reminder, each principal component is a unit vector that points in the direction of highest variance (after accounting for the variance captured by earlier principal components). The further a weight is from zero, the more the principal component is in the direction of the corresponding feature. If two features have large weights of the same sign (both positive or both negative), then increases in one tend expect to be associated with increases in the other. To contrast, features with different signs can be expected to show a negative correlation: increases in one variable should result in a decrease in the other.

- To investigate the features, you should map each weight to their corresponding feature name, then sort the features according to weight. The most interesting features for each principal component, then, will be those at the beginning and end of the sorted list. Use the data dictionary document to help you understand these most prominent features, their relationships, and what a positive or negative value on the principal component might indicate.
- You should investigate and interpret feature associations from the first three principal components in this substep. To help facilitate this, you should write a function that you can call at any time to print the sorted list of feature weights, for the *i*-th principal component. This might come in handy in the next step of the project, when you interpret the tendencies of the discovered clusters.

In [ ]:
# Map weights for the first principal component to corresponding feature names
# and then print the linked values, sorted by weight.
# HINT: Try defining a function here or in a new cell that you can reuse in the
# other cells.

In [ ]:
# Map weights for the second principal component to corresponding feature names
# and then print the linked values, sorted by weight.

In [ ]:
# Map weights for the third principal component to corresponding feature names
# and then print the linked values, sorted by weight.

### Discussion 2.3: Interpret Principal Components

(Double-click this cell and replace this text with your own text, reporting your observations from detailed investigation of the first few principal components generated. Can we interpret positive and negative values from them in a meaningful way?)

## Step 3: Clustering

### Step 3.1: Apply Clustering to General Population

You've assessed and cleaned the demographics data, then scaled and transformed them. Now, it's time to see how the data clusters in the principal components space. In this substep, you will apply k-means clustering to the dataset and use the average within-cluster distances from each point to their assigned cluster's centroid to decide on a number of clusters to keep.

- Use sklearn's [KMeans](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans) class to perform k-means clustering on the PCA-transformed data.
- Then, compute the average difference from each point to its assigned cluster's center. **Hint**: The KMeans object's `.score()` method might be useful here, but note that in sklearn, scores tend to be defined so that larger is better. Try applying it to a small, toy dataset, or use an internet search to help your understanding.
- Perform the above two steps for a number of different cluster counts. You can then see how the average distance decreases with an increasing number of clusters. However, each additional cluster provides a smaller net benefit. Use this fact to select a final number of clusters in which to group the data. **Warning**: because of the large size of the dataset, it can take a long time for the algorithm to resolve. The more clusters to fit, the longer the algorithm will take. You should test for cluster counts through at least 10 clusters to get the full picture, but you shouldn't need to test for a number of clusters above about 30.
- Once you've selected a final number of clusters to use, re-fit a KMeans instance to perform the clustering operation. Make sure that you also obtain the cluster assignments for the general demographics data, since you'll be using them in the final Step 3.3.

In [ ]:
# Over a number of different cluster counts...


    # run k-means clustering on the data and...
    
    
    # compute the average within-cluster distances.

In [ ]:
# Investigate the change in within-cluster distance across number of clusters.
# HINT: Use matplotlib's plot function to visualize this relationship.

In [ ]:
# Re-fit the k-means model with the selected number of clusters and obtain
# cluster predictions for the general population demographics data.

### Discussion 3.1: Apply Clustering to General Population

(Double-click this cell and replace this text with your own text, reporting your findings and decisions regarding clustering. Into how many clusters have you decided to segment the population?)

### Step 3.2: Apply All Steps to the Customer Data

Now that you have clusters and cluster centers for the general population, it's time to see how the customer data maps on to those clusters. Take care to not confuse this for re-fitting all of the models to the customer data. Instead, you're going to use the fits from the general population to clean, transform, and cluster the customer data. In the last step of the project, you will interpret how the general population fits apply to the customer data.

- Don't forget when loading in the customers data, that it is semicolon (`;`) delimited.
- Apply the same feature wrangling, selection, and engineering steps to the customer demographics using the `clean_data()` function you created earlier. (You can assume that the customer demographics data has similar meaning behind missing data patterns as the general demographics data.)
- Use the sklearn objects from the general demographics data, and apply their transformations to the customers data. That is, you should not be using a `.fit()` or `.fit_transform()` method to re-fit the old objects, nor should you be creating new sklearn objects! Carry the data through the feature scaling, PCA, and clustering steps, obtaining cluster assignments for all of the data in the customer demographics data.

In [ ]:
# Load in the customer demographics data.
customers =

In [ ]:
# Apply preprocessing, feature transformation, and clustering from the general
# demographics onto the customer data, obtaining cluster predictions for the
# customer demographics data.

### Step 3.3: Compare Customer Data to Demographics Data

At this point, you have clustered data based on demographics of the general population of Germany, and seen how the customer data for a mail-order sales company maps onto those demographic clusters. In this final substep, you will compare the two cluster distributions to see where the strongest customer base for the company is.

Consider the proportion of persons in each cluster for the general population, and the proportions for the customers. If we think the company's customer base to be universal, then the cluster assignment proportions should be fairly similar between the two. If there are only particular segments of the population that are interested in the company's products, then we should see a mismatch from one to the other. If there is a higher proportion of persons in a cluster for the customer data compared to the general population (e.g. 5% of persons are assigned to a cluster for the general population, but 15% of the customer data is closest to that cluster's centroid) then that suggests the people in that cluster to be a target audience for the company. On the other hand, the proportion of the data in a cluster being larger in the general population than the customer data (e.g. only 2% of customers closest to a population centroid that captures 6% of the data) suggests that group of persons to be outside of the target demographics.

Take a look at the following points in this step:

- Compute the proportion of data points in each cluster for the general population and the customer data. Visualizations will be useful here: both for the individual dataset proportions, but also to visualize the ratios in cluster representation between groups. Seaborn's [`countplot()`](https://seaborn.pydata.org/generated/seaborn.countplot.html) or [`barplot()`](https://seaborn.pydata.org/generated/seaborn.barplot.html) function could be handy.
  - Recall the analysis you performed in step 1.1.3 of the project, where you separated out certain data points from the dataset if they had more than a specified threshold of missing values. If you found that this group was qualitatively different from the main bulk of the data, you should treat this as an additional data cluster in this analysis. Make sure that you account for the number of data points in this subset, for both the general population and customer datasets, when making your computations!
- Which cluster or clusters are overrepresented in the customer dataset compared to the general population? Select at least one such cluster and infer what kind of people might be represented by that cluster. Use the principal component interpretations from step 2.3 or look at additional components to help you make this inference. Alternatively, you can use the `.inverse_transform()` method of the PCA and StandardScaler objects to transform centroids back to the original data space and interpret the retrieved values directly.
- Perform a similar investigation for the underrepresented clusters. Which cluster or clusters are underrepresented in the customer dataset compared to the general population, and what kinds of people are typified by these clusters?

In [ ]:
# Compare the proportion of data in each cluster for the customer data to the
# proportion of data in each cluster for the general population.

In [ ]:
# What kinds of people are part of a cluster that is overrepresented in the
# customer data compared to the general population?

In [ ]:
# What kinds of people are part of a cluster that is underrepresented in the
# customer data compared to the general population?

### Discussion 3.3: Compare Customer Data to Demographics Data

(Double-click this cell and replace this text with your own text, reporting findings and conclusions from the clustering analysis. Can we describe segments of the population that are relatively popular with the mail-order company, or relatively unpopular with the company?)

> Congratulations on making it this far in the project! Before you finish, make sure to check through the entire notebook from top to bottom to make sure that your analysis follows a logical flow and all of your findings are documented in **Discussion** cells. Once you've checked over all of your work, you should export the notebook as an HTML document to submit for evaluation. You can do this from the menu, navigating to **File -> Download as -> HTML (.html)**. You will submit both that document and this notebook for your project submission.